@import "tailwindcss";



/* @import url(https://db.onlinewebfonts.com/c/35e06493aed2f14d19a0b8d735c06b62?family=AvertaStd-Black); */


:root {
  font-family: "Inter" ;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #100202de;
  background-color: white ; */
  /* #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}  


.logo{
  font-family: "AvertaStd-Black";
}

.bgCover{
  /* background-image: url(./assets/bg.png); */
  /* background-position:center; */
  /* background-size: cover; */
  background: linear-gradient(180deg, #010860 0%, #002283 19.23%, #734AA3 38.46%, #E7959C 57.21%, #E4A182 76.92%, #BF3613 100%);
  /* ,url(./assets/bg.png); */
}

.bgRunner{
  background-image: url(./assets/boy_run.jpg);
  background-size: cover;
  background-position: center;
 
}

/* .transformm{
  transform: translateX();
} */


.blurry{
  filter: blur( );
}

.GradientBtn{
  background: linear-gradient(180deg, #000FB4 13.75%, #4050FF 135%);
};

.bgShadow{
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #293B6080 ;
  /* background: hsla(222, 34%, 15%, 0.5); */
  
}

label{
  color: #344054;
}

.GreenGradientBtn{
  background: linear-gradient(180deg, #52D407 13.75%, #37C100 135%);
}
